# Publish only the site pages and the assets they use
*
!.gitignore
!index.html
!about.html
!feelthespace_v2.html
!fabric_interfaces.html
!assets/
!images_fabricproject/
!fonts/
!other/
assets/*
images_fabricproject/*
fonts/*
other/*
!assets/components.png
!assets/conductive_fabric.jpg
!assets/fabric.jpg
!assets/facade.png
!assets/front_idle.png
!assets/front_motion.jpg
!assets/hata-jitate.gif
!assets/hata-ori.gif
!assets/ishozu.gif
!assets/itozome.gif
!assets/ksu1.jpg
!assets/ksu_nagaya.JPG
!assets/ksu_pattern.JPG
!assets/ksu_video_web.mp4
!assets/lateral_attractor.JPG
!assets/nenshi.gif
!assets/render.png
!assets/seikei.gif
!assets/seiren.gif
!assets/shelf.jpg
!assets/spatialinteraction.gif
!assets/store_plant.png
!assets/tangible.gif
!assets/tangible_interaction1.png
!assets/tangible_interaction2.png
!assets/tangible_interaction3.png
!assets/videothesis_web.mp4
!assets/zuan.gif
!fonts/NeueMontreal-Light.otf
!fonts/NeueMontreal-Regular.otf
!fonts/TimesNow-SemiLight.otf
!images_fabricproject/FabricControllersFinal_web.mp4
!images_fabricproject/IMG_8911.jpg
!images_fabricproject/IMG_8912.jpg
!images_fabricproject/IMG_8924_web.mp4
!images_fabricproject/IMG_8967_web.mp4
!images_fabricproject/IMG_9007_web.mp4
!images_fabricproject/IMG_9068.jpg
!images_fabricproject/IMG_9185_web.mp4
!images_fabricproject/IMG_9365.jpg
!images_fabricproject/approach.png
!images_fabricproject/button.png
!images_fabricproject/buttondetail.png
!images_fabricproject/buttontop.png
!images_fabricproject/curtainside.gif
!images_fabricproject/detailfabric.jpg
!images_fabricproject/fabric_samples.png
!images_fabricproject/lateral_curtain_web.mp4
!images_fabricproject/touch.jpg
!other/Federico_Emanuele_Mameo_CV.pdf
